footer {
    background-color: #111;
    color: #fff;
    padding: 40px 0;
  }
  
  footer h5 {
    color: #ffc107;
    margin-bottom: 20px;
  }
  
  footer p,
  footer ul li {
    font-size: 16px;
    line-height: 1.6;
  }

  .text-p{
    background-color: #ffc107;
    padding: 10px;
    border-radius: 50%;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    width: 36px;
    height: 36px;
  }
  
  footer ul {
    padding: 0;
    list-style: none;
  }
  
  footer ul li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  footer ul li:hover {
    text-decoration: underline;
  }
  
  footer .contact-icons p {
    display: flex;
    align-items: center;
  }
  
  footer .contact-icons svg {
    margin-right: 10px;
    color: #ffc107;
  }
  
  footer .social-icons svg {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  footer .social-icons svg:hover {
    color: #ffc107;
  }
  
  .footer-bottom {
    border-top: 1px solid #444;
    margin-top: 20px;
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
  }
  